* {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}
 html {
	 height: 100%;
}
 body {
	 min-height: 100%;
	 background: #eee;
	 font-family: 'Lato', sans-serif;
	 font-weight: 400;
	 color: #222;
	 font-size: 14px;
	 line-height: 26px;
	 padding-bottom: 50px;
}
 .container {
	 max-width: 700px;
	 background: #fff;
	 margin: 0px auto 0px;
	 box-shadow: 1px 1px 2px #dad7d7;
	 border-radius: 3px;
	 padding: 40px;
	 margin-top: 50px;
}
 .header {
	 margin-bottom: 30px;
}
 .header .full-name {
	 font-size: 40px;
	 text-transform: uppercase;
	 margin-bottom: 5px;
}
 .header .first-name {
	 font-weight: 400;
}
 .header .last-name {
	 font-weight: 700;
}
 .header .contact-info {
	 margin-bottom: 20px;
}
 .header .email, .header .linkedin, .header .github {
	 color: #000;
	 font-weight: 400;
}
 .header .separator {
	 height: 10px;
	 display: inline-block;
	 border-left: 2px solid #999;
	 margin: 0px 10px;
}
 .header .position {
	 font-weight: bold;
	 display: inline-block;
	 margin-right: 10px;
	 text-decoration: underline;
}
 .details {
	 line-height: 20px;
}
 .details .section {
	 margin-bottom: 30px;
}
 .details .section:last-of-type {
	 margin-bottom: 0px;
}
 .details .section__title {
	 letter-spacing: 2px;
	 color: #54afe4;
	 font-weight: bold;
	 margin-bottom: 10px;
	 text-transform: uppercase;
}
 .details .section__list-item {
	 margin-bottom: 30px;
}
 .details .section__list-item:last-of-type {
	 margin-bottom: 0;
}
 .details .left, .details .right {
	 vertical-align: top;
	 display: inline-block;
}
 .details .left {
	 width: 60%;
	 padding-right: 3%;
}
 .details .right {
	 text-align: right;
	 width: 39%;
}
 .details .programming_languages, .details .frameworks, .details .other {
	 vertical-align: top;
	 display: inline-block;
	 width: 32.9%;
}
 .details .programming_languages ul, .details .frameworks ul, .details .other ul {
	 list-style: none;
}
 .details .skill-percentage {
	 margin-bottom: 10px;
	 position: relative;
}
 .details .skill-percentage::after {
	 content: "";
	 width: 100%;
	 height: 6px;
	 background: gray;
	 display: block;
	 margin-top: 3px;
}
 .details .skill-percentage::before {
	 content: "";
	 height: 6px;
	 background: #54afe4;
	 position: absolute;
	 margin-top: 3px;
	 bottom: 0;
}
 .details .programming_languages__list:nth-child(2) {
	 padding-right: 5%;
	 margin-bottom: 15px;
}
 .details .programming_languages__list li:nth-child(1)::before {
	 width: 70%;
}
 .details .programming_languages__list li:nth-child(2)::before {
	 width: 60%;
}
 .details .programming_languages__list li:nth-child(3)::before {
	 width: 50%;
}
 .details .programming_languages__list li:nth-child(4)::before {
	 width: 50%;
}
 .details .programming_languages__list li:nth-child(5)::before {
	 width: 50%;
}
 .details .framework__list:nth-child(2) {
	 padding-right: 5%;
}
 .details .framework__list li:nth-child(1)::before {
	 width: 70%;
}
 .details .framework__list li:nth-child(2)::before {
	 width: 70%;
}
 .details .framework__list li:nth-child(3)::before {
	 width: 50%;
}
 .details .framework__list li:nth-child(4)::before {
	 width: 40%;
}
 .details .framework__list li:nth-child(5)::before {
	 width: 40%;
}
 .details .other__list:nth-child(2) {
	 padding-right: 5%;
}
 .details .other__list li:nth-child(1)::before {
	 width: 95%;
}
 .details .other__list li:nth-child(2)::before {
	 width: 75%;
}
 .details .other__list li:nth-child(3)::before {
	 width: 75%;
}
 .details .other__list li:nth-child(4)::before {
	 width: 60%;
}
 .details .other__list li:nth-child(5)::before {
	 width: 60%;
}
 .details .languages__list, .details .softskills__list {
	 margin-left: 1.2em;
	 padding-bottom: 1em;
}
 .details .name {
	 font-weight: bold;
	 padding-bottom: 5px;
}
 .details a {
	 text-decoration: none;
	 color: #000;
	 font-style: italic;
}
 .details a:hover {
	 text-decoration: underline;
	 color: #000;
}
 .details .tasks {
	 margin-top: 1%;
	 margin-left: 1.2em;
}
 .details .skills__item {
	 margin-bottom: 10px;
}
 .details .skills__item .right input {
	 display: none;
}
 .details .skills__item .right label {
	 display: inline-block;
	 width: 20px;
	 height: 20px;
	 background: #c3def3;
	 border-radius: 20px;
	 margin-right: 3px;
}
 .details .skills__item .right input:checked + label {
	 background: #79a9ce;
}
 